Repository localstack/localstack-extensions, changes with the owners that CODEOWNERS names for each.
All owners: @lukqw, @thrau, @alexrashed, @whummer, @silv-io, @dominikschubert, @HarshCasper

CODEOWNERS:

######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @lukqw @thrau @alexrashed

# Template for new extensions
/template/ @lukqw @thrau

######################
###   Extensions   ###
######################

/aws-replicator/ @whummer
/diagnosis-viewer/ @lukqw @thrau @silv-io
/hello-world/ @lukqw @thrau
/http-bin/ @lukqw @thrau @dominikschubert
/mailhog/ @lukqw @thrau
/miniflare/ @whummer @HarshCasper
/stripe/ @lukqw @thrau

adjust config to support `LOCALSTACK_AUTH_TOKEN` in addition to legacy API keys
  aws-replicator/README.md
  aws-replicator/aws_replicator/client/auth_proxy.py
  aws-replicator/setup.cfg
Owners: @whummer

set LOCALSTACK_AUTH_TOKEN in CI build config
  .github/workflows/aws-replicator.yml
Owners: none

adjust config to support `LOCALSTACK_AUTH_TOKEN` in addition to legacy API keys (#48)
  .github/workflows/aws-replicator.yml
  aws-replicator/README.md
  aws-replicator/aws_replicator/client/auth_proxy.py
  aws-replicator/setup.cfg
Owners: @whummer

update install procedure in mailhog README
  mailhog/README.md
Owners: @lukqw, @thrau

update install procedure in mailhog README (#49)
  mailhog/README.md
Owners: @lukqw, @thrau
